@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.jumbotron-img {
  background: url('../images/jumbotron.png');
  height: 95.5vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 20%;
  margin-left: 27%;
  position: absolute;
  top: 0;
}


.text--logo {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}

.margin--heading {
  margin: 1rem 0;
}

.text--heading {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text-desc {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.button-jmb {
  margin-top: 2rem;
}

.button__inner {
  margin: 0 1rem;
}

.button-text {
  font-weight: bold;
}

.btn__luar {
  display: flex;
}

.hp1 img{
  margin: 0 23%;
  position: absolute;
  top: 30rem;
  width: 45%;
  display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .content {
    top: 3rem;
    margin-left: 0;
  }

  .text--heading {
    font-size: 33px;
    padding: 0 1rem;
  }

  .text--logo {
    font-size: 1rem;
  }

  .text-desc{
    padding: 0 1rem;
  }

  .button__inner2 {
    margin-top: 2rem;
  }

  .btn__luar {
    flex-direction: column;
  }

  .hp1 img{
    /* width: 60vw; */
    margin-left: -2rem;
    top: 35rem;
    width: 100%;
  }

}

@media (min-width: 360px) and (max-width: 406px) {
  .content {
    top: 4rem;
  }

  .text--heading {
    font-size: 1.8rem;
  }

  .text-desc {
    font-size: 1.2rem;
  }

}

@media (min-width: 320px) and (max-width: 360px) { 

  .content {
    top: 4rem;
  }

  .text--heading {
    font-size: 1.7rem;
  }

  .text-desc {
    font-size: 1.1rem;
  }

  .text--heading {
    padding: 0 .8rem;
  }

}