@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  align-items: center;
}


.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 4rem;
}

.nav-menu {
  display: flex;
}

.nav-items {
  margin: 0 3rem;
}

.nav-links {
  color: #252B42;
  font-weight: bold;
  transition: all .2s;
}

.nav-links:hover {
  color: #FA4A0C;
}

.menu-icon {
  display: none;
}

.actives {
  color: #FA4A0C;
}

@media screen and (max-width: 960px) {

  .navbar-container {
    margin: .5rem 1rem;
  }

  .navbar-icon img{
    width: 104px;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #737373;
  }

  
  .nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 5.4rem;
    left: -100%;
    opacity: 1;
    transition: all .3s ease;
  }

  .nav-menu.active {
    background:#e9e9e9;
    left: 0;
    opacity: 1;
    transition: all .6s ease;
    z-index: 1;
    height: 100vh;
  }

  .nav-items {
    margin: 1.5rem 0;
  }

}